 @import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
@import "../../bower_components/slick-carousel/slick/slick.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

@import "../../bower_components/slick-carousel/slick/slick-theme.scss"; 

/*VARIABLES*/
$red: #b21823;
$purple: #662d91;
$text-grey: #4d4d4d;
$off-white: #efebee;
$green: #007a4d;
$earth: darken(#866a5f, 5%);
/*END*/

a{
	color: $earth;
	word-wrap: break-word;
	text-decoration: underline; 
	&:hover{
		color: darken($earth, 10%);
		text-decoration: none;
	}
}

ul{
	padding-left: 1rem; 
}

body{
	/*background: red;*/
	/*font-family: 'Playfair Display'; */
	font-family: 'proxima-nova';
}
 
.georgia{ 
	font-family: Georgia;
}

.proxima-nova{ 
	font-family: 'proxima-nova';
}

iframe{
	max-width: 100%;
}

.nav-pills{
	.nav-link{
		margin-right: .5rem;
		background-color: $off-white;
		&:hover{
			color: white;		
			background-color: $earth;
		}
		&.active{
			color: white;
			background-color: lighten($earth, 10%); 
			text-decoration: none;			
		}
	}
}

.dropdown-item.active, .dropdown-item:active{
	background: lighten($earth, 20%);
	color: white !important;
}

h1, h2, h3{
	a{

	}
	/*font-family: 'Montserrat';*/
}

h1{
	font-size: 2.5rem;
	@include media-breakpoint-down(md){
		font-size: 2rem;
	} 
}

h2{
	font-size: 2rem;
	@include media-breakpoint-down(md){
		font-size: 1.5rem;
	} 
}

h3{
	font-size: 1.5rem;
	@include media-breakpoint-down(md){
		font-size: 1.25rem;
	} 	
}

.soba-alert{
	@extend .alert;
	@include alert-variant($off-white, darken($off-white, 10%), darken($off-white, 50%));
}

.link{
	color: $earth;
	cursor: pointer;
}

.highcharts-container{
	max-width: 100%;
}

.rte{
	/*font-family: Georgia;*/
	p{
		font-size: 1rem;
		color: $text-grey;
		line-height: 1.5em;
	}
	&.rte--georgia{
		font-family: Georgia;
	}
	&.rte--small{
		font-size: .8em !important;
		h4{
			font-size: 1rem;
		}
		p{
			font-size: inherit;
		}
	}
	&.rte--large{
		font-size: 1.25em;
		*{
			/*font-size: 1.25rem;*/
		}
		h4{
			/*font-size: rem;*/
		}
		p{
			font-size: inherit;
		}		
	}	
	a{
		/*color: $red;*/
	}
}

.custom-content-color{
	.rte{
		*{
			color: inherit;
		}
	}
}

.home{
	.page-header{
		display: none;
	}
}

.home .wrap.container{
	max-width: none;
	padding: 0;
	.content.row{
		margin: 0;
	}
}

main.main{
	padding: 0;
}

.soba-btn{
	@extend .georgia;
	@extend .btn;
	@include button-variant($red, lighten($red, 10%), darken($red, 10%));
	@include button-size(.75rem, 2rem, 1rem, 1em, .1rem);
	white-space: normal;
	&.soba-btn--large{
		@include button-size(1.25rem, 2.5rem, 1.25rem, 1em, .1rem);
		margin: .5rem 0;
	}
	&.soba-btn--white{
		@include button-variant($off-white, darken($off-white, 10%), darken($off-white, 10%));
/*		color: white;
		border-color: white;
		&:hover{
			background: rgba(255, 255, 255, .1);
			color: white;
		}*/
	}
	ion-icon{
/*		font-size: 1rem;
		vertical-align: middle; */
	}
	&:hover{
/*		text-decoration: none;
		opacity: .8;
		color: $red;*/
	}
	@include media-breakpoint-down(md){
		min-width: 0;
		font-size: 1rem;
		padding: .5rem;
		clear: left;
	}
	text-decoration: none !important;		
}


/*HEADER STYLES*/
.navbar.nav-primary{
	a.brand{
		padding: 0;
		img{
			max-width: 150px;
		} 
	}
	.navbar-collapse{
		@extend .justify-content-end;
		a{
			color: #7c8492;
		}
	}
}

/*FLEX CONTENT*/



.main-page-content__inner{
	.content-section{
		@include make-col-ready();
		@include make-col(12);
	}
}


.content-section{
	position: relative;
	/*background: ;*/
	&.section-width--one-half{
		@include make-col-ready();
		@include media-breakpoint-up(lg){
			@include make-col(6); 
		}
	}
	&.section-width--one-third{ 
		@include make-col-ready();
		@include media-breakpoint-up(lg){
			@include make-col(4); 
		}
	}
	&.section-width--one-third,
	&.section-width--one-half{
		.grid-item{
			@include make-col(12); 
		}	 
	}
	&.section-width--one-whole{
		@include make-col-ready(); 
		@include make-col(12); 
		.grid-item{
			@include media-breakpoint-up(lg){
				@include make-col(6);  
			}
		}	
	}
	&.section-content-width--one-third{
		.grid-item{
			@include make-col-ready();
			@include media-breakpoint-up(lg){
				@include make-col(4);   
			}
		}		
	}
	&.section-content-width--one-half.section-width--one-whole{
		.grid-item{
			@include make-col-ready();
			@include media-breakpoint-up(lg){
				@include make-col(6);   
			}
		}		
	}	

	.content-section__header,
	.content-section__inner,
	.content-section__image{
		@include make-col-ready();		
	}
	.content-section__image{
		@include media-breakpoint-up(lg){
			@include make-col(6); 
		}
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center; 
		img{
			width: 100%;
			max-width: 400px;
		}
	}
	.content-section__call-to-action{
		margin-bottom: 2rem;
		margin-top: 2rem; 
	}
	&.header-border{
		h2, h3{
			border-bottom: 1px solid #eee;
		}
	}	
	@include media-breakpoint-up(md){
		&.content-align--left,
		&.content-align--right{
			.content-section__header{
				@include media-breakpoint-up(xl){
					@include make-col(6);
				}
			}	
		}		
		&.header-width--one-third{
			.content-section__header{
				@include media-breakpoint-up(xl){
					@include make-col(4); 
				}
			}
			.content-section__inner,
			.content-section__image{
				@include media-breakpoint-up(xl){
					@include make-col(8);
				}
			}		
		}
		&.header-width--one-half{
			.content-section__header{
				@include media-breakpoint-up(xl){
					@include make-col(6);
				}
			}
			.content-section__inner,
			.content-section__image{
				@include media-breakpoint-up(xl){
					@include make-col(6);
				}
			}		
		}
		&.header-width--two-thirds{
			.content-section__header{
				@include media-breakpoint-up(xl){
					@include make-col(8);
				}
			}
			.content-section__inner,
			.content-section__image{
				@include media-breakpoint-up(xl){
					@include make-col(4);
				}
			}		
		}		
	}
	&.header-width--one-whole{
		.content-section__header{
			@include make-col(12);
		}
		.content-section__inner,
		.content-section__image{
			@include make-col(12);
		}		
	}				
	&.header-align--top{
		.content-section__header,
		.content-section__inner{
			/*@include make-col(12);*/
		}
	}	
	&.content-align--right{
		flex-flow: row-reverse;
	}
	&.header-vertical-align--top{
		.content-section__row{
			@extend .align-items-start;
		}
	}
	&.header-vertical-align--center{
		.content-section__row{		
			@extend .align-items-center;
		}
	}	
	&.content-align--center{ 
		text-align: center;
		&.header-width--two-thirds{
			.content-section__header{
				@include make-col-offset(2);
				@include media-breakpoint-down(lg){
					@include make-col-offset(0);
					@include make-col(12);
				}				
			}
		}
		&.header-width--one-half{
			.content-section__header{
				@include make-col-offset(3);
				@include media-breakpoint-down(lg){
					@include make-col-offset(0);
					@include make-col(12);
				}
			}
		}			
	}		
	@include media-breakpoint-down(sm){
		/*padding: 4rem 0;*/
		.content-section__header,
		.content-section__image{
			@include make-col(12);		
		}
		.content-section__inner{
			margin-top: 1rem;
		}		
		.content-section__image{
			margin-bottom: 2rem;
			justify-content: flex-start;
			order: -2;
		}
	}
	@include media-breakpoint-down(sm){
		.content-section__image{
			img{
				max-width: 250px;
				margin: auto;
			}
		}
	}	
	@include media-breakpoint-up(lg){
		&.content-section--grid-content,
		&.content-section--banner-content{
			/*padding: 5rem 0;*/
		}
		&.padding-top--small{
			padding-top: 1rem;
		}
		&.padding-top--medium{
			padding-top: 3rem;
		}
		&.padding-top--large{
			padding-top: 5rem;
		}
		&.padding-top--xlarge{
			padding-top: 10rem;
		}	
		&.padding-top--huge{
			padding-top: 15rem;
		}			
		&.padding-top--none{
			padding-top: 0;
		}
		&.padding-bottom--small{
			padding-bottom: 1rem;
		}
		&.padding-bottom--medium{
			padding-bottom: 3rem;
		}
		&.padding-bottom--large{
			padding-bottom: 5rem;
		}
		&.padding-bottom--xlarge{
			padding-bottom: 10rem;
		}
		&.padding-bottom--huge{
			padding-bottom: 15rem;
		}			
		&.padding-bottom--none{
			padding-bottom: 0;
		}		
	}
	@include media-breakpoint-only(md){
		&.content-section--grid-content,
		&.content-section--banner-content{
			/*padding: 3.5rem 0;*/
		}
		&.padding-top--small{
			padding-top: 1rem;
		}
		&.padding-top--medium{
			padding-top: 2rem;
		}
		&.padding-top--large{
			padding-top: 4rem;
		}
		&.padding-top--xlarge{
			padding-top: 7rem;
		}
		&.padding-top--huge{
			padding-top: 10rem;
		}		
		&.padding-bottom--small{
			padding-bottom: 1rem;
		}
		&.padding-bottom--medium{
			padding-bottom: 2rem;
		}
		&.padding-bottom--large{
			padding-bottom: 4rem;
		}
		&.padding-bottom--xlarge{
			padding-bottom: 7rem;
		}
		&.padding-bottom--huge{
			padding-bottom: 10rem;
		}					
	}
	@include media-breakpoint-down(sm){
		&.content-section--grid-content,
		&.content-section--banner-content{
			padding: 2.5rem 0;
		}
		&.padding-top--small{
			padding-top: 1rem;
		}
		&.padding-top--medium{
			padding-top: 2rem;
		}
		&.padding-top--large{
			padding-top: 3rem;
		}
		&.padding-top--xlarge{
			padding-top: 4rem;
		}
		&.padding-top--huge{
			padding-top: 5rem;
		}		
		&.padding-bottom--small{
			padding-bottom: 1rem;
		}
		&.padding-bottom--medium{
			padding-bottom: 2rem;
		}
		&.padding-bottom--large{
			padding-bottom: 3rem;
		}
		&.padding-bottom--xlarge{
			padding-bottom: 4rem;
		}
		&.padding-top--huge{
			padding-top: 5rem;
		}					
	}			
}

.call-to-action--sidebar{
		@include make-col-ready();
}


.content-section__row{
	@include make-row();
}

.content-section__header{
	z-index: 10;
	position: relative;
	h2, h3{
		line-height: 1.25em;
	}
	h2{
		/*font-size: 3rem;*/ 
		margin-bottom: .5rem;
		padding-bottom: .5rem;
	}
	h3{
		/*font-size: 2rem; */ 
		font-size: 1.5rem;
		margin-bottom: .25rem;
		padding-bottom: .25rem;
		/*margin-bottom: .5rem;  		*/
	}	
	.rte{
		margin-bottom: 2rem;
		line-height: 1.5em;
		@include media-breakpoint-up(lg){
			p{
				font-size: 1.25rem;			
			}
		}
	}	
	@include media-breakpoint-down(md){
		h2{
			font-size: 2rem;
		}
	}	
}



.content-section__grid{
	@extend .d-flex;
	@extend .flex-wrap;
	@extend .container;
	@extend .justify-content-center;
	flex-flow: row-wrap;
	z-index: 10;
	position: relative;
	/*@extend .row;*/
	.content-section__item{
		@extend .p-4;
		/*@extend .col;*/
		@extend .col-md-4;
		@extend .col-lg-4;
		@extend .col-xl-2;
		@extend .col-sm-12;
		text-align: center;
		margin-bottom: 1rem;
		h3{
			font-size: 1.25rem;
			/*text-transform: uppercase;*/
		}
		img{
			max-height: 100px;
		}
	}
}

.content-section__item{
	position: relative;
}

.content-section__bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.content-section__header{
/*	@include make-col(8);
	@include make-col-offset(2);*/
}


.background-type__pattern{
	.content-section__bg--image{
		background-size: 50% !important;
		background-attachment: fixed !important;
	}	
	.content-section__bg--image{
		z-index: 5;
	}
	.content-section__bg--color{
		z-index: 0;
	}		
}

.content-section__bg--image{
	/*background-attachment: fixed !important;*/
}

.background-type__stretch{
	.content-section__bg--image{
		background-size: cover !important;
		background-position: center !important;	
	}
	.content-section__bg--image{
		z-index: 0;
	}
	.content-section__bg--color{
		z-index: 5;
	}		
}

.content-section__inner,
.content-section__header{
	z-index: 10;
}

/*FLEX CONTENT SLIDER*/
.content-section__slider_content{
	.slider-content{
		/*padding: 15rem 5rem;*/
		padding-left: 5rem;
		padding-right: 5rem;
		z-index: 10;
		position: relative;
		min-height: 750px !important;
		@extend .d-flex;
		@extend .flex-column;
		@extend .justify-content-center;
		@extend .align-items-start;
		p{
			max-width: 400px;
		}
		/*text-align: center;*/
		h3{
			font-size: 3rem;
			/*text-transform: uppercase;*/
		}
		.button{
			/*@include button-variant($background, $border, $active-background: darken($background, 7.5%), $active-border: darken($border, 10%));*/
			@extend .btn;
			@extend .btn-lg;
			@include button-variant($off-white, darken($off-white, 10%), $off-white, darken($off-white, 10%));
		}
	}
	.content-section__item{
		vertical-align: top;
		&.image-position__left{
			.slider__inner{
				@extend .d-flex;
				@extend .flex-wrap;
				/*@extend .container;*/
				@extend .justify-content-center;
				@extend .align-items-stretch; 
				.slider-image,
				.slider-content{
					/*@extend .p-4;*/
					@extend .col-sm-12;
					@extend .col-md-6;	
					background-size: cover !important;	
					background-position: center !important;		
				}
				.slider-image{
					@extend .p-0;
				}
				.slider-content{
/*					padding-left: 3rem !important;
					padding-right: 3rem !important;*/
				}
			}
		}
	}
	@include media-breakpoint-down(sm){
		.slider-content{
			min-height: 0 !important;
			padding: 0 !important;
			margin: 1rem;
			min-height: 300px !important;
			h3{
				font-size: 1.75rem;
			}
		}
		.background-type__stretch .content-section__bg--image,
		.slider-image{
			min-height: 300px !important;
			position: relative !important;
		}		
	}	

}

.content-section__grid_content{
	.section__link{
		@extend .col-12;
		@extend .text-center;
		.button{
			/*@include button-variant($background, $border, $active-background: darken($background, 7.5%), $active-border: darken($border, 10%));*/
			@extend .btn;
			@extend .btn-lg;
			@include button-variant($off-white, darken($off-white, 10%), $off-white, darken($off-white, 10%));
		}		
		z-index: 10;
		position: relative;
	}
}


/*SLIDER MODS*/
.slick-slider{
	.slick-arrow{
		z-index: 100;
	}
	.slick-prev{
		left: 20px;
	}
	.slick-next{
		right: 20px;
	}
	.slick-next,
	.slick-prev{
		z-index: 100;
	}
	@include media-breakpoint-up(md){
		.slick-arrow:before{
			font-size: 2rem;
		}
	}
}

/*MAILCHIMP*/
.mc4wp-form-fields{
	.form-group{
		margin: auto;
		max-width: 400px;
		margin-bottom: 1rem;
		input{
			width: 100%;
		}
	}
}


/*MAIN CONTENT*/
.main-content{
	@extend .container;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/*FOOTER*/
footer.content-info{
	padding: 5rem 0;
	background: #333;
	h3, a{
		color: white;
	}
	h3{
		font-size: 1.25rem;
		padding-bottom: .75rem;
		border-bottom: 1px solid #666;
	}
	ul{
		list-style-type: none;
		padding-left: 0;
		line-height: 2rem;
	}
	a{
		font-size: 1rem;
	}
}

/*TAGS*/
.tags{
	display: block;
	@extend .georgia;
	.tag{
		font-size: .75rem; 
		background: $off-white;
		color: $text-grey;
		padding: .25rem;
		margin-right: .5rem;
		margin-bottom: .5rem;
		display: inline-block;
		border-radius: 2px;
		border: 1px solid #ccc; 
	}
}

/*CONTENT GRID*/
.grid-item{
	@include make-col-ready();
	margin-bottom: 2rem;
	.grid-item__inner{

	}
	h3{
		/*font-size: 1.25rem;*/
		color: #666;
		font-weight: medium;
		/*padding-bottom: .5rem;*/
		/*border-bottom: 1px solid #eee;*/
		a{
			/*float: right;*/
			/*font-size: 1rem;*/
		}
		.grid-item__title{
			display: block;
			clear: both;
		}
	}
	.grid-item__category{
		color: $earth;
		/*font-size: .8rem;*/
		ion-icon{
			/*color: $red;*/
			font-size: 1.5em;
			margin-right: .25rem;
			vertical-align: bottom;
			color: $earth;
		}		
	}
	iframe{
		width: 100%;
		min-height: 350px;
		border: 1px solid #eee;
		background: white;
	}
	&.grid-item--width-one-third{
		/*@include make-col(12);*/
	}	
	&.grid-item--width-two-thirds{
		/*@include make-col(12);*/
	}		
	&.grid-item--width-one-half{
		@include media-breakpoint-up(lg){
			/*@include make-col(6);*/
		}
	}
	&.grid-item--width-one-half, 
	&.grid-item--width-one-third{
		@include media-breakpoint-only(md){
			@include make-col(12);  
		}
		@include media-breakpoint-down(sm){
			@include make-col(12);
		}
	}
	.work-in-progress{
		padding: .5rem 0;
		border-bottom: 1px solid #eee;
	}
	.sources{
		/*margin-top: .5rem;*/

	}
	.tags{
		/*margin-top: 1rem; */
		/*border-top: 1px solid #eee;*/
	}
	.sources,
	.tags,
	.visualization__student-paper{
		h4{
			margin: .5rem 0;
		}
		/*padding: .5rem 0;*/
		ion-icon[name='ios-arrow-down'],
		ion-icon[name='ios-arrow-up']{
			float: right;
		}
	}
	.visualization__student-paper{
		border-bottom: 0;
		@include make-col-ready(); 
	}	
	.content{
		padding-bottom: .5rem;
		border-bottom: 1px solid #eee;
	}
	@extend .col-sm-12;
	@include media-breakpoint-down(sm){
		h3{ 
			a{
				float: none;
				display: block; 
				font-size: 1rem;
				margin-top: .25rem;
			}
		}
	} 	
	.grid-item-content__image{
	    margin-bottom: .5rem;
	    border: 1px solid #eee;		 
	    background: white;
		a{
			display: block;
		}
		img{
			max-width: 100%;
			height: auto;
		}
	}
	.sources-list{
		padding-left: 1rem; 
		margin-bottom: 0;
	}
	@include media-breakpoint-down(md){
		@include make-col(12);
	}
	iframe{
		max-width: 100% !important;
	}	
}

.visualization__header,
.student-paper-content__inner{
	h2.entry-title,
	h3{
		padding-top: .5rem;
		a{
			color: $earth;
			/*text-decoration: underline; */
		}
	}
}

.page-content-container.no-sidebar{
	.grid-item.visualization.grid-item--width-one-whole{
		@include media-breakpoint-up(xl){
			/*@include make-col(6);*/ 
		}
	}
}

/*VISUALIZATION GRID ITEMS*/
.grid-item.visualization{
	.grid-item__row{
		@include make-row();
	}
	.grid-item-header,
	.grid-item-content,
	.grid-item-notes{
		@include make-col-ready();
		@include make-col(12); 
	}
	&.no-visual{
		.visualization__header{ 
			@include make-col(12); 
		}
	}
	@include media-breakpoint-down(md){ 
		.grid-item__row{
			flex-direction: column;
		}
		.grid-item-header, 
		.grid-item-content{ 
			@include make-col(12);
		}		
	}
	&.visualization--stacked{
		.grid-item-header,
		.grid-item-content{
			@include make-col(12); 
		}		
	}	
}

.visualization__call-to-action,
.grid-item.visualization .sources,
.grid-item.visualization .tags,
.visualization__student-paper{
	padding-top: 1rem;
	margin-top: 1rem;
	/*margin-bottom: 1rem;*/
	padding-bottom: 0rem;
	border-top: 1px solid $off-white;
	/*text-align: right;*/
	a{
		/*@extend .soba-btn;*/

	}
}

.visualization__call-to-action{
	margin-bottom: 0;
}

.grid-item.visualization .sources{
	@include make-col-ready();
}

.grid-item.visualization .tags{
	@include make-col-ready();
}

/*.visualization__notes{
	@include make-row();
	.sources,
	.tags{
		
		@include make-col(12);
	}
}*/

.visualization__call-to-action{
	@include make-col(12);
	@include make-col-ready();	

}

.grid-item.visualization,
.student-paper-content{
	.grid-item__inner,
	.student-paper-content__inner{
	    padding: 1rem; 
	    /*margin-bottom: 2rem;*/
	    box-shadow: 0 3px 5px #eee;
	    border: 1px solid #ddd;  
	    background: white;
	    /*border-radius: 3px;		*/
	}
	.soba-btn,
	.visualization__call-to-action a{
		@extend .btn;
		@include button-variant($off-white, darken($off-white, 10%), darken($off-white, 10%));
		@include button-size(.5rem, 2rem, 1rem, 1em, .1rem);
	}	
}


.grid-item.visualization.visualization--stacked{
	.visualization__notes--side{
		/*display: none;*/
	}
	.visualization__notes--stacked{
		display: block;
	}	
}

.visualization__notes--side{
	@include media-breakpoint-down(md){ 
		/*display: none;*/
	}
}

.visualization__notes--stacked{
	@include media-breakpoint-up(lg){ 
		/*display: none; */
	}
}

.visualization__student-paper-inner{
	a{
		margin-top: .5rem; 
		display: block;
	}
}

.soba-visualization{
	h1{
		display: none;
	}
}

/*SIDEBAR ITEM*/ 
.sidebar-item{
	margin-bottom: .5rem;
	.sources{
		margin: 0;
	}
	.rte{
		font-style: italic;
		color: #666;
		/*font-size: 1.25rem;*/
	}
	&.grid-item.visualization{
		.grid-item__inner{
			/*background: $off-white;*/
			margin-bottom: .5rem;
			padding: 1rem;
			margin-bottom: 0; 
		}
	}
}

/*PAGE HEADER*/
.page-header--basic{
	.page-header__content{
		@include make-col-ready();
	}
}

.page-header{
	.content-section__bg{
		/*background-attachment: fixed;*/
		background-size: cover;
	}
	.content-section__bg--fixed{
		/*background-attachment: fixed;*/
	}
}

.page-header__content{
	z-index: 100;
	position: relative;
	padding-top: 10rem;
	padding-bottom: 10rem;
	h1{
		span{
			display: block;
		}
	}
	p{
		max-width: 600px;
	}
	@include media-breakpoint-down(md){ 
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

ion-icon{
	vertical-align: middle;
}


.page-template-page-data-focus,
.page-template-page-borderless-sections,
.post-type-archive{
	.wrap.container{ 
		width: 100%;
		max-width: none; 
	}
}

body.home,
.page-template-page-borderless-sections{
	.content-section__inner-container{
		@include make-container(); 	
		@include make-container-max-widths();	
	}
}

/*DATA FOCUS*/
.page-template-page-data-focus{
	.wrap.container{
		width: 100%;
		max-width: none;
	}
	.page-content-container{
		@include make-row();
		.main-page-content{
			@include make-col-ready();
			margin-top: 2rem;
			/*@include make-col(8);*/
			.content-section__header{
				text-align: left;
				margin: 0; 
				margin-bottom: 1rem;
				>h2, >h3{
					border-bottom: 1px solid #eee;
				}
			}
			.content-section__inner{
/*				@include make-col-ready();
				@include make-col(12);*/
			}
			.content-section{
				/*@include make-row();*/
			}
		}
	}
	.page-sidebar{ 
		@include make-col-ready();
		@include make-col(4);
		/*padding-top: 2rem;*/
		/*background: $off-white;*/
		margin-top: 2rem;
	}
	@include media-breakpoint-up(lg){
		.main-page-content{
			@include make-col(12);
		}
		.page-sidebar{
			@include make-col(4); 
		}
		.page-content-container.has-sidebar{
			.main-page-content{
				@include make-col(8);  
			}
		}
	}		 
	@include media-breakpoint-down(md){
		.main-page-content,
		.page-sidebar{
			@include make-col(12);
			/*@include make-col-offset(0);*/
		}
	}	
/*	@include media-breakpoint-down(sm){
		.main-page-content,
		.page-sidebar{
			@include make-col(12);
		}
	}	*/
}

.main-page-content{
	.main-page-content__content{
		/*margin-top: 1rem;*/
		@include make-col-ready();
	}
}

.page-template-page-borderless-sections{
	.page-header__content{ 
		text-align: center;
		>*{
			margin-left: auto;
			margin-right: auto;
		}
	}
	.main-page-content__inner{
		margin-top: 2rem;
		@include make-col(8);
		@include make-col-offset(2);
		@include make-col-ready();
	} 
	@include media-breakpoint-down(md){
		.main-page-content__inner{
			@include make-col(12);
			@include make-col-offset(0); 
		}
	}
}

/* CUSTOM CONTENT */
.content-section__custom-container{
	@include make-col-ready();
}

/*LIGHTBOX STUFF*/
.visualization__container{
	/*transition: all .2s;*/
	overflow: hidden;
	.visualization__inner{

	}
}

.fancybox-content{
	width: 800px;
	/*height: 75%;*/
}


.grid-item .visualization__inner{
	display: block !important;
}

/*TEMPORARY GALLERY*/
#page-gallery{
	.gallery{
		@include make-row();
	}
	.gallery-item{
		@include make-col-ready();
		@include make-col(3);
		img{
			width: 100%;
		}
	}
	@include media-breakpoint-down(sm){
		.gallery-item{
			@include make-col(6);
		}
	}
}

/*DROPDOWN CONTAINER*/
[data-drop-container]{
	a{
		display: block;
		ion-icon[name='ios-arrow-up']{
			display: none;
		}
		ion-icon[name='ios-arrow-down']{
			display: inline-block;
		}				
		&.active{
			ion-icon[name='ios-arrow-up']{
				display: inline-block;
			}
			ion-icon[name='ios-arrow-down']{
				display: none; 
			}			
		}
	}
}

[data-drop-target]{
	display: none;
}

/*ARCHIVE*/
.archive-listings{
	/*margin-top: 3rem;*/
	@include make-col-ready();
	/*@include make-col-offset(2);*/
	@include make-col(9);
	h2{
		/*font-size: 1rem;*/
	}
	@include media-breakpoint-down(sm){
		@include make-col-offset(0);
		@include make-col(12);
	}	
}

.archive-pagination{
	@include make-col-ready();
	text-align: center;
	padding: 1rem 0; 
}

/*STUDENT PAPER*/
.student-paper-content{
	/*padding-top: 3rem;*/
	/*padding-bottom: 3rem; */
	/*text-align: center;*/
	.soba-btn{
		margin-top: .5rem; 
	}	
}

.archive-listings--student-papers{
	/*text-align: center;	*/
	/*@include make-col-offset(1);*/
	@include make-col(9); 
	@include media-breakpoint-down(md){
		@include make-col-offset(0);
		@include make-col(12); 
	}	

}
 
.student-paper-content{ 
	/*padding: 5rem 0;*/
	margin-bottom: 2rem;
} 

.single-student_paper{
	.student-paper-index{
		margin-bottom: 2rem;
		.student-paper-index__inner{
			@extend .alert;
			@include alert-variant($off-white, darken($off-white, 10%), darken($off-white, 50%));	
		}	
	}
	article.student_paper{
		/*@include make-row();*/
		@include make-col-ready();
		@include make-col-offset(2); 
		@include make-col(8);
		@include media-breakpoint-down(sm){
			@include make-col-offset(0);
			@include make-col(12);
		}							 
	}
	.visualization-listings{
		/*margin-top: 2rem;*/
		@include make-row();
		.visulizations-listings__listings{
			/*@include make-col-ready();*/
		} 
	}
	.visualization-no-results{
		margin-top: 1rem;
		@extend .alert;
		@include alert-variant($off-white, darken($off-white, 10%), darken($off-white, 50%));
	}
	.visualization-listings__header,
	.visualization-listings__page-number{
		@include make-col-ready();
	} 

}

.visulizations-listings__no-results{
	@include make-col-ready();	
	.inner{
		@include alert-variant($off-white, darken($off-white, 10%), darken($off-white, 50%));
		@extend .alert;
	}
}

/*VISUALIZATION ARCHIVE*/
.archive-listings-filters{
	@include make-col-ready();
	@include make-col(3);
	/*margin-top: 3rem;*/
	.soba-btn{
		margin-top: 1rem;
	}
}
.archive-listings--visualization{
	@include make-col-offset(0);
	@include make-col(9);
	.grid-item.visualization{
		margin-bottom: 2rem;
	}
}

.archive-listings-filters,
.archive-listings--visualization{
	@include media-breakpoint-down(md){
		@include make-col(12);
	}
}

/*VISUALIZATION SINGLE*/
.single-visualization{
	.visualization-single-content{
		padding: 5rem 0;
	}
	.visualization-single-content{ 
		@include make-col-ready(); 
	}
	.contribute-visualization-message{
		.alert{
			@include alert-variant($off-white, darken($off-white, 10%), darken($off-white, 50%));		
		}
	}
	.grid-item.visualization{
		padding: 0;
	}
	.grid-item.visualization .grid-item-header, 
	.grid-item.visualization .grid-item-content{
		@include make-col(12);
	}
	@include media-breakpoint-up(md){ 
		.visualization-single-content{
			@include make-col(8);
			@include make-col-offset(2);
		}		
	}	
}

/*BREADCRUMBS*/
.breadcrumbs{
	margin: 1rem 0;
	a{
		text-decoration: underline;
		color: inherit;
		&:hover{
			/*color: #eee;*/
			text-decoration:none;
		}
	}
	*{
		/*color: white;*/
	}
}

/*SUBNAVIGATION*/ 
.subnavigation{
	background: $off-white;
	.subnavigation__inner{
		@include make-col(12);
		@include make-col-ready();
		ul{
			display: flex;
			justify-content: center;
			margin-bottom: 0;
			li{
				list-style-type: none;
				a{
					display: block;
					padding: .5rem 1rem;
				}
				&.active{ 
					a{
						background: darken($off-white, 10%);
					}
				}
			}
		}
	}
}

/*CONTENT TABS*/
.tab-container{
	@include make-col-ready(); 
	@include make-col(12); 
	.tab-description{
		@include make-col-ready();
		@include make-col(12);
	}
	.tab-pane__inner{
		@include make-row();
	}
}

/*BADGES*/
.grid-item__inner,
.student-paper-content{

}

.badges{
	color: #ccc;
	margin-bottom: 1rem;
}

.badge{
	@extend .proxima-nova;
	@extend .badge;	
	ion-icon{
		vertical-align: bottom;
	}
}

.badge--inactive{
	@include badge-variant(#ddd);
	color: #ccc; 
	background: none;
}
 
.badge--active{
	&.badge--stage-one{
		@include badge-variant(lighten($green, 0%));
	}
	&.badge--stage-two{
		@include badge-variant(lighten($green, 5%));
	}
	&.badge--stage-three{ 
		@include badge-variant(lighten($green, 10%));
	}
}

/*CONTENT TOTALS*/
.content-totals{
	font-size: 2rem;
	line-height: 1.5em;
	@include make-col-ready();
	color: $earth;
	span.content-total{
		/*font-weight: bold;*/
		font-size: 2em;
	}
	@include media-breakpoint-down(sm){ 
		font-size: 1rem;
		span.content-total{}
	}
	.content-totals__cta{
		margin-top: 2rem;
	}
}

/*ARCHIVE CONTENT TOTALS*/
.content-totals--archive{
	@include make-col-ready();
	@include make-col(12);
	font-size: 1rem;
	color: #9a9699;
	.inner{
		@extend .soba-alert;
		/*padding: 1rem 0;*/
		/*background: $off-white;*/
		margin: 1rem 0;
		text-align: center;		
	}
	/*background: $off-white;*/

}

.masonry-item{
	width: 33.33%;
	padding: .25rem;
	/*height: 300px;*/ 
	a{
		display: block;
	}
	img{
		width: 100%;
	}
	p{
		margin-top: .5rem;
		color: $earth;
		@extend .georgia;
		font-style: italic;
		font-size: .75rem;
	}
}

