 @import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
@import "../../bower_components/slick-carousel/slick/slick.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

@import "../../bower_components/slick-carousel/slick/slick-theme.scss"; 

/*VARIABLES*/
$red: #b21823;
$purple: #662d91;
$text-grey: #4d4d4d;
$off-white: #efebee;
$green: #007a4d;
/*END*/

a{
	color: $red;
	&:hover{
		color: darken($red, 10%);
	}
}

body{
	/*background: red;*/
	/*font-family: 'Playfair Display'; */
	font-family: 'Montserrat';
}

h1, h2{
	/*font-family: 'Montserrat';*/
}

.rte{
	font-family: Georgia;
	p{
		font-size: 1rem;
		color: $text-grey;
		line-height: 1.5em;
	}
	&.rte--georgia{
		font-family: Georgia;
	}
	&.rte--small{
		font-size: .8em;
		h4{
			font-size: 1rem;
		}
/*		p{
			font-size: .85em;
		}*/
	}
}

.home{
	.page-header{
		display: none;
	}
}

.home .wrap.container{
	max-width: none;
	padding: 0;
	.content.row{
		margin: 0;
	}
}

main.main{
	padding: 0;
}

.soba-btn{
	display: inline-block;
	padding: 1rem 2rem;
	min-width: 300px;
	font-size: 1.25rem;
	text-transform: uppercase;
	/*transition: all .2s;*/
	color: $red;
	border: 3px solid $red;
	&.soba-btn--white{
		color: white;
		border: 3px solid white;
		&:hover{
			/*background: rgba(255, 255, 255, .1);*/
			color: white;
		}
	}
	&:hover{
		text-decoration: none;
		opacity: .8;
		color: $red;
	}
	@include media-breakpoint-down(sm){
		font-size: 1rem;
		padding: .5rem 0;
		width: 100%;
	}	
}


/*HEADER STYLES*/
.navbar.nav-primary{
	a.brand{
		padding: .5rem;
		img{
			max-width: 150px;
		} 
	}
	.navbar-collapse{
		@extend .justify-content-end;
		a{
			color: #7c8492;
		}
	}
}

/*FLEX CONTENT*/
.content-section{
	position: relative;
	/*background: ;*/
	@include media-breakpoint-up(md){
		&.content-section__grid_content,
		&.content-section__banner_content{
			padding: 5rem 0;
		}
		&.padding--small{
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
		&.padding--medium{
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
		&.padding--large{
			padding-top: 10rem;
			padding-bottom: 10rem;
		}
		&.padding--xlarge{
			padding-top: 15rem;
			padding-bottom: 15rem;
		}	
		&.padding--none{
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	@include media-breakpoint-down(sm){
		padding: 4rem 0;
	}	
}

.home{
	.content-section__inner{
		/*width: 1200px;*/
		@include make-container();
		@include media-breakpoint-up(lg){
			width: 1200px; 
		}
	}
}

.content-section__header{
	@extend .col-lg-8;
	@extend .offset-lg-2;
	@extend .offset-sm-0;
	@extend .col-sm-12;
	@extend .text-center;
	padding-bottom: 1rem;
	/*margin-bottom: 3rem;*/
	/*border-bottom: 1px solid #eee;*/
	z-index: 10;
	position: relative;
	h2{
		font-size: 3rem;
		line-height: 1.5em;
		margin-bottom: 2rem;
	}	
	@include media-breakpoint-down(sm){
		h2{
			font-size: 2rem;
		}
	}	
}
.content-section__grid{
	@extend .d-flex;
	@extend .flex-wrap;
	@extend .container;
	@extend .justify-content-center;
	flex-flow: row-wrap;
	z-index: 10;
	position: relative;
	/*@extend .row;*/
	.content-section__item{
		@extend .p-4;
		/*@extend .col;*/
		@extend .col-md-4;
		@extend .col-lg-4;
		@extend .col-xl-2;
		@extend .col-sm-12;
		text-align: center;
		margin-bottom: 1rem;
		h3{
			font-size: 1.25rem;
			text-transform: uppercase;
		}
		img{
			max-height: 100px;
		}
	}
}

.content-section__item{
	position: relative;
}

.content-section__bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.content-section__header{
/*	@include make-col(8);
	@include make-col-offset(2);*/
}

.content-section__banner_content.content-section{
	/*padding: 15rem 0;*/
	display: block;
	.content-section__bg--image{
		background-attachment: fixed;
	}
	.rte{
		margin-bottom: 2rem;
		p{
			font-size: 1.25rem;
			line-height: 1.5em;
		}
	}
}

.background-type__pattern{
	.content-section__bg--image{
		background-size: 50% !important;
		background-attachment: fixed !important;
	}	
	.content-section__bg--image{
		z-index: 5;
	}
	.content-section__bg--color{
		z-index: 0;
	}		
}

.content-section__bg--image{
	/*background-attachment: fixed !important;*/
}

.background-type__stretch{
	.content-section__bg--image{
		background-size: cover !important;
		background-position: center !important;	
	}
	.content-section__bg--image{
		z-index: 0;
	}
	.content-section__bg--color{
		z-index: 5;
	}		
}

/*FLEX CONTENT SLIDER*/
.content-section__slider_content{
	.slider-content{
		/*padding: 15rem 5rem;*/
		padding-left: 5rem;
		padding-right: 5rem;
		z-index: 10;
		position: relative;
		min-height: 750px !important;
		@extend .d-flex;
		@extend .flex-column;
		@extend .justify-content-center;
		@extend .align-items-start;
		p{
			max-width: 400px;
		}
		/*text-align: center;*/
		h3{
			font-size: 3rem;
			text-transform: uppercase;
		}
		.button{
			/*@include button-variant($background, $border, $active-background: darken($background, 7.5%), $active-border: darken($border, 10%));*/
			@extend .btn;
			@extend .btn-lg;
			@include button-variant(#DE3831, lighten(#DE3831, 10%), darken(#DE3831, 10%), lighten(#DE3831, 20%));
		}
	}
	.content-section__item{
		vertical-align: top;
		&.image-position__left{
			.slider__inner{
				@extend .d-flex;
				@extend .flex-wrap;
				/*@extend .container;*/
				@extend .justify-content-center;
				@extend .align-items-stretch; 
				.slider-image,
				.slider-content{
					/*@extend .p-4;*/
					@extend .col-sm-12;
					@extend .col-md-6;	
					background-size: cover !important;	
					background-position: center !important;		
				}
				.slider-image{
					@extend .p-0;
				}
				.slider-content{
/*					padding-left: 3rem !important;
					padding-right: 3rem !important;*/
				}
			}
		}
	}
	@include media-breakpoint-down(sm){
		.slider-content{
			min-height: 0 !important;
			padding: 0 !important;
			margin: 1rem;
			min-height: 300px !important;
			h3{
				font-size: 1.75rem;
			}
		}
		.background-type__stretch .content-section__bg--image,
		.slider-image{
			min-height: 300px !important;
			position: relative !important;
		}		
	}	

}

.content-section__grid_content{
	.section__link{
		@extend .col-12;
		@extend .text-center;
		.button{
			/*@include button-variant($background, $border, $active-background: darken($background, 7.5%), $active-border: darken($border, 10%));*/
			@extend .btn;
			@extend .btn-lg;
			@include button-variant(#DE3831, lighten(#DE3831, 10%), darken(#DE3831, 10%), lighten(#DE3831, 20%));
		}		
		z-index: 10;
		position: relative;
	}
}


/*SLIDER MODS*/
.slick-slider{
	.slick-arrow{
		z-index: 100;
	}
	.slick-prev{
		left: 20px;
	}
	.slick-next{
		right: 20px;
	}
	.slick-next,
	.slick-prev{
		z-index: 100;
	}
	@include media-breakpoint-up(md){
		.slick-arrow:before{
			font-size: 2rem;
		}
	}
}

/*MAILCHIMP*/
.mc4wp-form-fields{
	.form-group{
		margin: auto;
		max-width: 400px;
		margin-bottom: 1rem;
		input{
			width: 100%;
		}
	}
}

/*PAGE HEADER*/
.page-header__content{
	z-index: 100;
	position: relative;
	padding-top: 20rem;
	padding-bottom: 2rem;
	p{
		max-width: 400px;
	}
}

/*MAIN CONTENT*/
.main-content{
	@extend .container;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/*FOOTER*/
footer.content-info{
	padding: 5rem 0;
	background: #333;
	h3, a{
		color: white;
	}
	h3{
		font-size: 1.25rem;
		padding-bottom: .75rem;
		border-bottom: 1px solid #666;
	}
	ul{
		list-style-type: none;
		padding-left: 0;
		line-height: 2rem;
	}
	a{
		font-size: 1rem;
	}
}

/*CONTENT GRID*/
.grid-item{
	@include make-col-ready();
	margin-bottom: 3rem;
	h3{
		font-size: 1.25rem;
		color: #666;
		font-weight: normal;
		padding-bottom: .5rem;
		border-bottom: 1px solid #ccc;
		a{
			float: right;
		}
		ion-icon{
			/*color: $red;*/
			font-size: 1.5em;
			margin-right: .25rem;
			vertical-align: bottom;
		}
	}
	iframe{
		width: 100%;
		min-height: 350px;
		border: 1px solid #eee;
		background: white;
	}
	&.grid-item--width-one-third{
		@include make-col(4);
	}	
	&.grid-item--width-two-thirds{
		@extend .col-md-8;
	}		
	&.grid-item--width-one-half{
		@include make-col(6);
	}
	&.grid-item--width-one-half,
	&.grid-item--width-one-third{
		@include media-breakpoint-only(md){
			@include make-col(6);  
		}
		@include media-breakpoint-down(sm){
			@include make-col(12);
		}
	}
	.sources{
		margin-top: 1rem;
	}
	@extend .col-sm-12;
}
