 @import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
@import "../../bower_components/slick-carousel/slick/slick.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

@import "../../bower_components/slick-carousel/slick/slick-theme.scss"; 

/*VARIABLES*/
$red: #b21823;
$purple: #662d91;
$text-grey: #4d4d4d;
$off-white: #efebee;
$green: #007a4d;
/*END*/

a{
	color: $red;
	&:hover{
		color: darken($red, 10%);
	}
}

ul{
	padding-left: 1rem;
}

body{
	/*background: red;*/
	/*font-family: 'Playfair Display'; */
	font-family: 'Montserrat';
}

.georgia{ 
	font-family: Georgia;
}

h1, h2{
	/*font-family: 'Montserrat';*/
}

.link{
	color: $red;
	cursor: pointer;
}

.highcharts-container{
	max-width: 100%;
}

.rte{
	font-family: Georgia;
	p{
		font-size: 1rem;
		color: $text-grey;
		line-height: 1.5em;
	}
	&.rte--georgia{
		font-family: Georgia;
	}
	&.rte--small{
		font-size: .8em !important;
		h4{
			font-size: 1rem;
		}
		p{
			font-size: inherit;
		}
	}
	&.rte--large{
		*{
			font-size: 1.25em;
		}
		h4{
			/*font-size: rem;*/
		}
		p{
			font-size: inherit;
		}		
	}	
}

.custom-content-color{
	.rte{
		*{
			color: inherit;
		}
	}
}

.home{
	.page-header{
		display: none;
	}
}

.home .wrap.container{
	max-width: none;
	padding: 0;
	.content.row{
		margin: 0;
	}
}

main.main{
	padding: 0;
}

.soba-btn{
	display: inline-block;
	padding: .75rem 1rem;
	min-width: 300px;
	font-size: 1.25rem;
	/*text-transform: uppercase;*/
	/*transition: all .2s;*/
	color: $red;
	border: 3px solid $red;
	text-align: center;
	&.soba-btn--white{
		color: white;
		border: 3px solid white;
		&:hover{
			/*background: rgba(255, 255, 255, .1);*/
			color: white;
		}
	}
	ion-icon{
		font-size: 2rem;
		vertical-align: middle; 
	}
	&:hover{
		text-decoration: none;
		opacity: .8;
		color: $red;
	}
	@include media-breakpoint-down(md){
		min-width: 0;
		font-size: 1rem;
		padding: .5rem;
		clear: left;
	}	
}


/*HEADER STYLES*/
.navbar.nav-primary{
	a.brand{
		padding: .5rem;
		img{
			max-width: 200px;
		} 
	}
	.navbar-collapse{
		@extend .justify-content-end;
		a{
			color: #7c8492;
		}
	}
}

/*FLEX CONTENT*/
.content-section{
	position: relative;
	/*background: ;*/
	.content-section__header,
	.content-section__inner,
	.content-section__image{
		@include make-col-ready();		
	}
	.content-section__image{
		@include make-col(6); 
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: 100%;
			max-width: 400px;
		}
	}
	.content-section__call-to-action{
		margin-bottom: 2rem;
	}
	&.header-border{
		h2, h3{
			border-bottom: 1px solid #eee;
		}
	}	
	@include media-breakpoint-up(md){
		&.content-align--left,
		&.content-align--right{
			.content-section__header{
				@include make-col(6);
			}	
		}		
		&.header-width--one-third{
			.content-section__header{
				@include make-col(4); 
			}
			.content-section__inner,
			.content-section__image{
				@include make-col(8);
			}		
		}
		&.header-width--one-half{
			.content-section__header{
				@include make-col(6);
			}
			.content-section__inner,
			.content-section__image{
				@include make-col(6);
			}		
		}
		&.header-width--two-thirds{
			.content-section__header{
				@include make-col(8);
			}
			.content-section__inner,
			.content-section__image{
				@include make-col(4);
			}		
		}		
	}
	&.header-width--one-whole{
		.content-section__header{
			@include make-col(12);
		}
		.content-section__inner,
		.content-section__image{
			@include make-col(12);
		}		
	}				
	&.content-align--center{
		text-align: center;
		.content-section__header{
			@include media-breakpoint-up(lg){
				@include make-col(8);
				@include make-col-offset(2);
			}
		}	
	}
	&.header-align--top{
		.content-section__header,
		.content-section__inner{
			/*@include make-col(12);*/
		}
	}	
	&.content-align--right{
		flex-flow: row-reverse;
	}	
	&.level--sub{

	}
	@include media-breakpoint-down(sm){
		/*padding: 4rem 0;*/
		.content-section__header,
		.content-section__image{
			@include make-col(12);		
		}
		.content-section__inner{
			margin-top: 1rem;
		}		
		.content-section__image{
			margin-bottom: 2rem;
			justify-content: flex-start;
			order: -2;
		}
	}
	@include media-breakpoint-down(sm){
		.content-section__image{
			img{
				max-width: 250px;
			}
		}
	}	
	@include media-breakpoint-up(lg){
		&.content-section--grid-content,
		&.content-section--banner-content{
			/*padding: 5rem 0;*/
		}
		&.padding-top--small{
			padding-top: 1rem;
		}
		&.padding-top--medium{
			padding-top: 3rem;
		}
		&.padding-top--large{
			padding-top: 5rem;
		}
		&.padding-top--xlarge{
			padding-top: 10rem;
		}	
		&.padding-top--none{
			padding-top: 0;
		}
		&.padding-bottom--small{
			padding-bottom: 1rem;
		}
		&.padding-bottom--medium{
			padding-bottom: 3rem;
		}
		&.padding-bottom--large{
			padding-bottom: 5rem;
		}
		&.padding-bottom--xlarge{
			padding-bottom: 10rem;
		}	
		&.padding-bottom--none{
			padding-bottom: 0;
		}		
	}
	@include media-breakpoint-only(md){
		&.content-section--grid-content,
		&.content-section--banner-content{
			/*padding: 3.5rem 0;*/
		}
		&.padding-top--small{
			padding-top: 1rem;
		}
		&.padding-top--medium{
			padding-top: 2rem;
		}
		&.padding-top--large{
			padding-top: 4rem;
		}
		&.padding-top--xlarge{
			padding-top: 7rem;
		}
		&.padding-bottom--small{
			padding-bottom: 1rem;
		}
		&.padding-bottom--medium{
			padding-bottom: 2rem;
		}
		&.padding-bottom--large{
			padding-bottom: 4rem;
		}
		&.padding-bottom--xlarge{
			padding-bottom: 7rem;
		}			
	}
	@include media-breakpoint-down(sm){
		&.content-section--grid-content,
		&.content-section--banner-content{
			padding: 2.5rem 0;
		}
		&.padding-top--small{
			padding-top: 1rem;
		}
		&.padding-top--medium{
			padding-top: 2rem;
		}
		&.padding-top--large{
			padding-top: 3rem;
		}
		&.padding-top--xlarge{
			padding-top: 4rem;
		}
		&.padding-bottom--small{
			padding-bottom: 1rem;
		}
		&.padding-bottom--medium{
			padding-bottom: 2rem;
		}
		&.padding-bottom--large{
			padding-bottom: 3rem;
		}
		&.padding-bottom--xlarge{
			padding-bottom: 4rem;
		}			
	}			
}

.call-to-action--sidebar{
		@include make-col-ready();
}


.content-section__row{
	@include make-row();
}

body.home{
	.content-section__inner-container{
		@include make-container(); 	
		@include make-container-max-widths();	
	}
}

.content-section__header{
	z-index: 10;
	position: relative;
	h2, h3{
		line-height: 1.25em;
	}
	h2{
		/*font-size: 3rem;*/ 
		margin-bottom: .5rem;
		padding-bottom: .5rem;
	}
	h3{
		/*font-size: 2rem; */ 
		font-size: 1.5rem;
		margin-bottom: .25rem;
		padding-bottom: .25rem;
		/*margin-bottom: .5rem;  		*/
	}	
	.rte{
		margin-bottom: 2rem;
		line-height: 1.5em;
		@include media-breakpoint-up(lg){
			p{
				font-size: 1.25rem;			
			}
		}
	}	
	@include media-breakpoint-down(md){
		h2{
			font-size: 2rem;
		}
	}	
}



.content-section__grid{
	@extend .d-flex;
	@extend .flex-wrap;
	@extend .container;
	@extend .justify-content-center;
	flex-flow: row-wrap;
	z-index: 10;
	position: relative;
	/*@extend .row;*/
	.content-section__item{
		@extend .p-4;
		/*@extend .col;*/
		@extend .col-md-4;
		@extend .col-lg-4;
		@extend .col-xl-2;
		@extend .col-sm-12;
		text-align: center;
		margin-bottom: 1rem;
		h3{
			font-size: 1.25rem;
			/*text-transform: uppercase;*/
		}
		img{
			max-height: 100px;
		}
	}
}

.content-section__item{
	position: relative;
}

.content-section__bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.content-section__header{
/*	@include make-col(8);
	@include make-col-offset(2);*/
}


.background-type__pattern{
	.content-section__bg--image{
		background-size: 50% !important;
		background-attachment: fixed !important;
	}	
	.content-section__bg--image{
		z-index: 5;
	}
	.content-section__bg--color{
		z-index: 0;
	}		
}

.content-section__bg--image{
	/*background-attachment: fixed !important;*/
}

.background-type__stretch{
	.content-section__bg--image{
		background-size: cover !important;
		background-position: center !important;	
	}
	.content-section__bg--image{
		z-index: 0;
	}
	.content-section__bg--color{
		z-index: 5;
	}		
}

/*FLEX CONTENT SLIDER*/
.content-section__slider_content{
	.slider-content{
		/*padding: 15rem 5rem;*/
		padding-left: 5rem;
		padding-right: 5rem;
		z-index: 10;
		position: relative;
		min-height: 750px !important;
		@extend .d-flex;
		@extend .flex-column;
		@extend .justify-content-center;
		@extend .align-items-start;
		p{
			max-width: 400px;
		}
		/*text-align: center;*/
		h3{
			font-size: 3rem;
			/*text-transform: uppercase;*/
		}
		.button{
			/*@include button-variant($background, $border, $active-background: darken($background, 7.5%), $active-border: darken($border, 10%));*/
			@extend .btn;
			@extend .btn-lg;
			@include button-variant(#DE3831, lighten(#DE3831, 10%), darken(#DE3831, 10%), lighten(#DE3831, 20%));
		}
	}
	.content-section__item{
		vertical-align: top;
		&.image-position__left{
			.slider__inner{
				@extend .d-flex;
				@extend .flex-wrap;
				/*@extend .container;*/
				@extend .justify-content-center;
				@extend .align-items-stretch; 
				.slider-image,
				.slider-content{
					/*@extend .p-4;*/
					@extend .col-sm-12;
					@extend .col-md-6;	
					background-size: cover !important;	
					background-position: center !important;		
				}
				.slider-image{
					@extend .p-0;
				}
				.slider-content{
/*					padding-left: 3rem !important;
					padding-right: 3rem !important;*/
				}
			}
		}
	}
	@include media-breakpoint-down(sm){
		.slider-content{
			min-height: 0 !important;
			padding: 0 !important;
			margin: 1rem;
			min-height: 300px !important;
			h3{
				font-size: 1.75rem;
			}
		}
		.background-type__stretch .content-section__bg--image,
		.slider-image{
			min-height: 300px !important;
			position: relative !important;
		}		
	}	

}

.content-section__grid_content{
	.section__link{
		@extend .col-12;
		@extend .text-center;
		.button{
			/*@include button-variant($background, $border, $active-background: darken($background, 7.5%), $active-border: darken($border, 10%));*/
			@extend .btn;
			@extend .btn-lg;
			@include button-variant(#DE3831, lighten(#DE3831, 10%), darken(#DE3831, 10%), lighten(#DE3831, 20%));
		}		
		z-index: 10;
		position: relative;
	}
}


/*SLIDER MODS*/
.slick-slider{
	.slick-arrow{
		z-index: 100;
	}
	.slick-prev{
		left: 20px;
	}
	.slick-next{
		right: 20px;
	}
	.slick-next,
	.slick-prev{
		z-index: 100;
	}
	@include media-breakpoint-up(md){
		.slick-arrow:before{
			font-size: 2rem;
		}
	}
}

/*MAILCHIMP*/
.mc4wp-form-fields{
	.form-group{
		margin: auto;
		max-width: 400px;
		margin-bottom: 1rem;
		input{
			width: 100%;
		}
	}
}


/*MAIN CONTENT*/
.main-content{
	@extend .container;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/*FOOTER*/
footer.content-info{
	padding: 5rem 0;
	background: #333;
	h3, a{
		color: white;
	}
	h3{
		font-size: 1.25rem;
		padding-bottom: .75rem;
		border-bottom: 1px solid #666;
	}
	ul{
		list-style-type: none;
		padding-left: 0;
		line-height: 2rem;
	}
	a{
		font-size: 1rem;
	}
}

/*TAGS*/
.tags{
	display: block;
	@extend .georgia;
	.tag{
		font-size: .75rem; 
		background: $off-white;
		color: $text-grey;
		padding: .25rem;
		margin-right: .5rem;
		margin-bottom: .5rem;
		display: inline-block;
		border-radius: 2px;
		border: 1px solid #ccc; 
	}
}

/*CONTENT GRID*/
.grid-item{
	@include make-col-ready();
	margin-bottom: 3rem;
	.grid-item__inner{

	}
	h3{
		font-size: 1.25rem;
		color: #666;
		font-weight: medium;
		/*padding-bottom: .5rem;*/
		/*border-bottom: 1px solid #eee;*/
		a{
			/*float: right;*/
			font-size: 1rem;
		}
		ion-icon{
			/*color: $red;*/
			font-size: 1.5em;
			margin-right: .25rem;
			vertical-align: bottom;
			color: $red;
		}
		.grid-item__title{
			display: block;
			clear: both;
		}
	}
	iframe{
		width: 100%;
		min-height: 350px;
		border: 1px solid #eee;
		background: white;
	}
	&.grid-item--width-one-third{
		@include make-col(4);
	}	
	&.grid-item--width-two-thirds{
		@extend .col-md-8;
	}		
	&.grid-item--width-one-half{
		@include make-col(6);
	}
	&.grid-item--width-one-half,
	&.grid-item--width-one-third{
		@include media-breakpoint-only(md){
			@include make-col(6);  
		}
		@include media-breakpoint-down(sm){
			@include make-col(12);
		}
/*		.visualization__container{
			max-height: 500px;
			overflow: hidden;
		}*/
	}
	.sources{
		margin-top: .5rem;
	}
	.content{
/*		padding-top: .5rem;
		margin-top: .5rem;*/
		padding-bottom: .5rem;
		/*border-top: 1px solid #eee;*/
		border-bottom: 1px solid #eee;
	}
	@extend .col-sm-12;
	@include media-breakpoint-down(sm){
		h3{ 
			a{
				float: none;
				display: block; 
				font-size: 1rem;
				margin-top: .25rem;
			}
		}
	} 
	.tags{
		margin-top: 1rem; 
	}	
	.visualization__container{
		/*margin-top: 2rem;*/
	}
	.grid-item-content__image{
		/*margin: .5rem 0;*/
	    margin-bottom: .5rem;
	    border: 1px solid #eee;		 
		a{
			display: block;
		}
		img{
			max-width: 100%;
			height: auto;
		}
	}
	.sources-list{
		padding-left: 1rem; 
		margin-bottom: 0;
		li{
			/*margin-top: .5rem;*/
			/*padding-bottom: .5rem;*/
			/*padding-bottom: .5rem;*/
			/*border-bottom: 1px solid #eee;*/
		}
	}
}

.soba-visualization{
	h1{
		display: none;
	}
}

/*SIDEBAR ITEM*/ 
.sidebar-item{
	margin-bottom: .5rem;
	.sources{
		margin: 0;
	}
	.rte{
		font-style: italic;
		color: #666;
		/*font-size: 1.25rem;*/
	}
	.grid-item__inner{
		background: $off-white;
		margin-bottom: .5rem;
		padding: 2rem;
	}
}

/*PAGE HEADER*/
.page-header--basic{
	.page-header__content{
		@include make-col-ready();
	}
}

.page-header{
	.content-section__bg{
		background-attachment: fixed;
		background-size: cover;
	}
}

.page-header__content{
	z-index: 100;
	position: relative;
	padding-top: 10rem;
	padding-bottom: 10rem;
	h1{
		span{
			display: block;
		}
	}
	p{
		max-width: 600px;
	}
}


/*DATA FOCUS*/
.page-template-page-data-focus{
	.wrap.container{
		width: 100%;
		max-width: none;
	}
	.page-content-container{
		@include make-row();
		.main-page-content{
			@include make-col-ready();
			margin-top: 1rem;
			/*@include make-col(8);*/
			.content-section__header{
				text-align: left;
				margin: 0; 
				h2{
					text-align: left;
				}
			}
			.content-section__inner{
/*				@include make-col-ready();
				@include make-col(12);*/
			}
			.content-section{
				/*@include make-row();*/
			}
		}
	}
	.page-sidebar{ 
		@include make-col-ready();
		@include make-col(4);
		/*padding-top: 2rem;*/
		/*background: $off-white;*/
		margin-top: 2rem;
	}
	@include media-breakpoint-up(lg){
		.main-page-content{
			@include make-col(12);
		}
		.page-sidebar{
			@include make-col(4); 
		}
		.page-content-container.has-sidebar{
			.main-page-content{
				@include make-col(8); 
			}
		}
	}		 
	@include media-breakpoint-down(md){
		.main-page-content,
		.page-sidebar{
			@include make-col(12);
			/*@include make-col-offset(0);*/
		}
	}	
/*	@include media-breakpoint-down(sm){
		.main-page-content,
		.page-sidebar{
			@include make-col(12);
		}
	}	*/
}

.main-page-content{
	.main-page-content__content{
		/*margin-top: 1rem;*/
	}
}

/* CUSTOM CONTENT */
.content-section__custom-container{
	@include make-col-ready();
}

/*LIGHTBOX STUFF*/
.visualization__container{
	/*transition: all .2s;*/
	overflow: hidden;
	.visualization__inner{

	}
}

.fancybox-content{
	width: 800px;
	/*height: 75%;*/
}


.grid-item .visualization__inner{
	display: block !important;
}
