---
---

@import "{{ site.theme }}";

.page-header{
	background-image: linear-gradient(60deg, #333, #007a4d, #dd3731);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{
	color: #007a4d;
}

.main-content ul{

}

#demo{
	font-size: 12px;
}